.pool {
  position: relative;
  font-size: 400%;
  padding: 50px;
  height: 505px;
  width: 1172px;
}
.team {
  position: absolute;
  top: 150px;
  left: 150px;
}
.swimmer {
  width: 75px;
  height: 75px;
  padding: 15px;
  padding-top: 0;
  text-align: center;
  display: inline-block;
}
/* .turn-left {
  transform: rotate(0deg);
}
.turn-up {
  transform: rotate(90deg);
}
.turn-right {
  transform: rotate(180deg);
}
.turn-down {
  transform: rotate(270deg);
} */
